$primary: #f1b599;
$secondary: #3b7662;
$success: #3e8d63;
$info: #fff;
$warning: #b8c924;
$danger: #d62518;
$light: #fff;
$dark: #343a40;
$accent: #f1b599;

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  light: $light,
  dark: $dark,
  accent: $accent,
);

a {
  text-decoration: none!important;
}

.carousel .carousel-inner {
  height: auto;
}
.carousel-inner .carousel-item {
  height: 60vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.carousel-inner .carousel-item h3{
  font-size: 2em;
}

.carousel-inner .carousel-item::after{
  content: "";
  z-index: -1;
  display: block;
  position: absolute; 
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top,  rgba(241,181,153,0.1) 0%, rgba(241,181,153,0.8) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(241,181,153,0.1) 0%,rgba(241,181,153,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(241,181,153,0.1) 0%,rgba(241,181,153,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1af1b599', endColorstr='#ccf1b599',GradientType=0 ); /* IE6-9 */
}

.hero-section{
  overflow: hidden;
  position: relative;
  padding: 60px 0;
}

.hero-section-bg{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.hero-section::after{
  content: "";
  z-index: 1;
  display: block;
  position: absolute; 
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top,  rgba(241,181,153,0.1) 0%, rgba(241,181,153,0.8) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(241,181,153,0.1) 0%,rgba(241,181,153,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(241,181,153,0.1) 0%,rgba(241,181,153,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1af1b599', endColorstr='#ccf1b599',GradientType=0 ); /* IE6-9 */
}

.hero-section h1{
  position: relative;
  z-index: 99;
  font-size: 1.9em;
  margin: 0;
}

@import "~bootstrap/scss/bootstrap.scss";